ansible-*output*.txt
files/usr/share/rpd-wallpaper/2300H_1600x1200_AM.jpg
files/usr/share/rpd-wallpaper/7300_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/7610_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/7800_1600x1200.jpg
files/usr/share/rpd-wallpaper/AMSATALTLOGO.png
files/usr/share/rpd-wallpaper/ARES.png
files/usr/share/rpd-wallpaper/ARISS pic 1.jpg
files/usr/share/rpd-wallpaper/ARRL We Do That.jpg
files/usr/share/rpd-wallpaper/Amateur Radio World Map and DXCC Country List.jpg
files/usr/share/rpd-wallpaper/Antennas Major Design Types.jpg
files/usr/share/rpd-wallpaper/Band_Chart_Image_for_ARRL_Web.jpg
files/usr/share/rpd-wallpaper/Callsign Prefix List International.jpg
files/usr/share/rpd-wallpaper/DSTAR2_1600x1200_AM.jpg
files/usr/share/rpd-wallpaper/DSTAR_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/Elecraft K3s Transceiver.jpg
files/usr/share/rpd-wallpaper/FTDX 9000.jpg
files/usr/share/rpd-wallpaper/ICOM IC-9100.jpg
files/usr/share/rpd-wallpaper/ID31APlus_1600x1200.jpg
files/usr/share/rpd-wallpaper/InTheCommunity_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/Kenwood TS-2000.jpg
files/usr/share/rpd-wallpaper/Kenwood TS-590.jpg
files/usr/share/rpd-wallpaper/Moonbounce.jpg
files/usr/share/rpd-wallpaper/R30_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/Space Antenna.jpg
files/usr/share/rpd-wallpaper/Van mobile radio.jpg
files/usr/share/rpd-wallpaper/Very Large Array.jpg
files/usr/share/rpd-wallpaper/W100AW.jpg
files/usr/share/rpd-wallpaper/W1AW_Fall.jpg
files/usr/share/rpd-wallpaper/When all else fails - amateur radio.jpg
files/usr/share/rpd-wallpaper/World CQ Zones.gif
files/usr/share/rpd-wallpaper/Worlds Largest Radio Telescope.jpg
files/usr/share/rpd-wallpaper/baofeng.jpg
files/usr/share/rpd-wallpaper/cubesat2.jpg
files/usr/share/rpd-wallpaper/dstar_1600x1200.jpg
files/usr/share/rpd-wallpaper/hf_1600x1200.jpg
files/usr/share/rpd-wallpaper/j-38 key.jpg
files/usr/share/rpd-wallpaper/morse-code.jpg
files/usr/share/rpd-wallpaper/r8600_Wallpaper_1600x1200.jpg
files/usr/share/rpd-wallpaper/raspberry-pi-logo.png
