.idea
ansible-*output*.txt
files/GridTracker-1.21.1217-linux-arm32.tar.gz
files/SKCCLogger_Linux_32-Bit-ARM.zip
files/SKCCLogger_Linux_32-Bit.zip
files/SKCCLogger_Linux_64-Bit.zip
files/jtdx_2.2.158_amd64.deb
files/jtdx_2.2.158_amd64_ub18.deb
files/usr/local/bluedv/BlueDV_v1_0_0_9609.zip
files/usr/share/wallpapers/2300H_1600x1200_AM.jpg
files/usr/share/wallpapers/7300_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/7610_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/7800_1600x1200.jpg
files/usr/share/wallpapers/AMSATALTLOGO.png
files/usr/share/wallpapers/ARES.png
files/usr/share/wallpapers/ARISS pic 1.jpg
files/usr/share/wallpapers/ARRL We Do That.jpg
files/usr/share/wallpapers/Amateur Radio World Map and DXCC Country List.jpg
files/usr/share/wallpapers/Antennas Major Design Types.jpg
files/usr/share/wallpapers/Band_Chart_Image_for_ARRL_Web.jpg
files/usr/share/wallpapers/Callsign Prefix List International.jpg
files/usr/share/wallpapers/DSTAR2_1600x1200_AM.jpg
files/usr/share/wallpapers/DSTAR_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/Elecraft K3s Transceiver.jpg
files/usr/share/wallpapers/FTDX 9000.jpg
files/usr/share/wallpapers/ICOM IC-9100.jpg
files/usr/share/wallpapers/ID31APlus_1600x1200.jpg
files/usr/share/wallpapers/InTheCommunity_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/Kenwood TS-2000.jpg
files/usr/share/wallpapers/Kenwood TS-590.jpg
files/usr/share/wallpapers/Moonbounce.jpg
files/usr/share/wallpapers/R30_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/Space Antenna.jpg
files/usr/share/wallpapers/Van mobile radio.jpg
files/usr/share/wallpapers/Very Large Array.jpg
files/usr/share/wallpapers/W100AW.jpg
files/usr/share/wallpapers/W1AW_Fall.jpg
files/usr/share/wallpapers/When all else fails - amateur radio.jpg
files/usr/share/wallpapers/World CQ Zones.gif
files/usr/share/wallpapers/Worlds Largest Radio Telescope.jpg
files/usr/share/wallpapers/baofeng.jpg
files/usr/share/wallpapers/cubesat2.jpg
files/usr/share/wallpapers/dstar_1600x1200.jpg
files/usr/share/wallpapers/hf_1600x1200.jpg
files/usr/share/wallpapers/j-38 key.jpg
files/usr/share/wallpapers/morse-code.jpg
files/usr/share/wallpapers/r8600_Wallpaper_1600x1200.jpg
files/usr/share/wallpapers/raspberry-pi-logo.png
