#
# Copyright 2020, Dave Slotter (W3DJS). All rights reserved.
#

- name: Install Open Digital Voice (OpenDV) Software
  hosts: all
  gather_facts: no
  environment:
    # Build-Time Tuning:
    CXXFLAGS: -O2 -march=native -mtune=native
    CFLAGS: -O2 -march=native -mtune=native
    MAKEFLAGS: -j {{ ansible_processor_vcpus }}
  tasks:

  - name: Create directory hamradio
    file:
      path: /home/pi/hamradio
      state: directory

  - name: Install dependent libraries for OpenDV
    become: yes
    package:
      name: "{{ item }}"
      state: present
    with_items:
      - build-essential
      - automake
      - debhelper
      - libwxgtk3.0-dev
      - libasound2-dev
      - portaudio19-dev
      - libusb-1.0-0-dev
      - wiringpi
      - fakeroot

  - name: Download latest OpenDV sources
    git:
      repo: https://github.com/dl5di/OpenDV.git
      dest: /home/pi/hamradio/OpenDV

#
# AMBETools
#

  - name: Fix architecture for OpenDV - AMBETools
    lineinfile:
      path: /home/pi/hamradio/OpenDV/AMBETools/settings.mk
      regexp: '^export ARCH := x86-64'
      line: export ARCH := native

  - name: Build OpenDV - AMBETools
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/AMBETools

  - name: Install OpenDV - AMBETools
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/AMBETools


#
# AnalogueRepeater
#
  - name: Configure OpenDV - AnalogueRepeater
    command: ./configure
    args:
      chdir: /home/pi/hamradio/OpenDV/AnalogueRepeater

  - name: Build OpenDV - AnalogueRepeater
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/AnalogueRepeater

  - name: Install OpenDV - AnalogueRepeater
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/AnalogueRepeater


#
# Digital Voice
#

  - name: Fix architecture for OpenDV - Digital Voice
    lineinfile:
      path: "/home/pi/hamradio/OpenDV/Digital Voice/settings.mk"
      regexp: '^export ARCH := x86-64'
      line: export ARCH := native

  - name: Build OpenDV - Digital Voice
    command: make
    args:
      chdir: "/home/pi/hamradio/OpenDV/Digital Voice"

  - name: Install OpenDV - Digital Voice
    become: yes
    command: make install
    args:
      chdir: "/home/pi/hamradio/OpenDV/Digital Voice"


#
# DStarRepeater
#

  - name: Configure OpenDV - DStarRepeater
    command: ./configure
    args:
      chdir: /home/pi/hamradio/OpenDV/DStarRepeater

  - name: Build OpenDV - DStarRepeater
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/DStarRepeater

  - name: Install OpenDV - DStarRepeater
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/DStarRepeater


#
# DummyRepeater
#

  - name: Configure OpenDV - DummyRepeater
    command: ./configure --with-ambeserver
    args:
      chdir: /home/pi/hamradio/OpenDV/DummyRepeater

  - name: Build OpenDV - DummyRepeater
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/DummyRepeater

  - name: Install OpenDV - DummyRepeater
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/DummyRepeater


#
# ircDDBGateway
#

  - name: Configure OpenDV - ircDDBGateway
    command: ./configure
    args:
      chdir: /home/pi/hamradio/OpenDV/ircDDBGateway

  - name: Build OpenDV - ircDDBGateway
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/ircDDBGateway

  - name: Install OpenDV - ircDDBGateway
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/ircDDBGateway


#
# XReflector
#

  - name: Configure OpenDV - XReflector
    command: ./configure
    args:
      chdir: /home/pi/hamradio/OpenDV/XReflector

  - name: Build OpenDV - XReflector
    command: make
    args:
      chdir: /home/pi/hamradio/OpenDV/XReflector

  - name: Install OpenDV - XReflector
    become: yes
    command: make install
    args:
      chdir: /home/pi/hamradio/OpenDV/XReflector

# Work around a Git issue -- missing libircDDB.a file
  - name: Build OpenDV - XReflectorDaemon
    command: cp libircDDB.a ../ircDDB
    args:
      chdir: /home/pi/hamradio/OpenDV/XReflector


#
# There are some basic compilation errors which are outside my focus of
# creating the image to work around. These affect XReflectorDaemon and
# RepeaterExtras - djs 2020-06-07
#

#
# XReflectorDaemon
#

## Work around a Git issue -- missing IRCDDB.h file
#  - name: Build OpenDV - XReflectorDaemon
#    command: cp /home/pi/hamradio/OpenDV/XReflector/ircDDB/IRCDDB.h Common
#    args:
#      chdir: /home/pi/hamradio/OpenDV/XReflectorDaemon
#
#  - name: Build OpenDV - XReflectorDaemon
#    command: make
#    args:
#      chdir: /home/pi/hamradio/OpenDV/XReflectorDaemon
#
#  - name: Install OpenDV - XReflectorDaemon
#    become: yes
#    command: make install
#    args:
#      chdir: /home/pi/hamradio/OpenDV/XReflectorDaemon
#

##
## RepeaterExtras
##
#
#  - name: Build OpenDV - RepeaterExtras
#    command: make
#    args:
#      chdir: /home/pi/hamradio/OpenDV/RepeaterExtras
#
#  - name: Install OpenDV - RepeaterExtras
#    become: yes
#    command: make install
#    args:
#      chdir: /home/pi/hamradio/OpenDV/RepeaterExtras

  - name: Remove OpenDV build directory
    file:
      path: /home/pi/hamradio/OpenDV
      state: absent
