[Desktop Entry]
Name=HAMRS
Comment=Portable logger
Exec=/usr/bin/{{ hamrs_filename.stdout }} --disable-seccomp-filter-sandbox
Icon=/usr/share/pixmaps/hamrs.png
Terminal=false
Type=Application
Categories=HamRadio Logging
