pi@hampi:~ $ cat /usr/local/share/applications/noaa-apt.desktop 
[Desktop Entry]
Name=NOAA Apt Image Decoder
GenericName=NOAA Apt Image Decoder
Comment=Image decoder for APT signals from NOAA satellites
Exec=/home/pi/hamradio/noaa-apt/target/release/noaa-apt
Path=/home/pi/hamradio/noaa-apt
Icon=/home/pi/hamradio/noaa-apt/res/icon.png
Terminal=false
Type=Application
Categories=HamRadio
