[Desktop Entry]
GenericName=BlueDV HotSpot Software
Name=BlueDV
Comment=BlueDV HotSpot Software
Exec=sh -c "cd /usr/local/bluedv/; sudo mono BlueDV.exe"
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=/usr/local/bluedv/BlueDV.ico