[Desktop Entry]
GenericName=DroidStar
Name=DroidStar
Comment=DroidStar - Software to RX/TX D-STAR, DMR, Fusion YSF/FCS, NXDN, P25, M17, and IAX (AllStar client)
Exec=/usr/bin/DroidStar
Terminal=false
Type=Application
Categories=HamRadio
