[Desktop Entry]
Name=GridTracker
Comment=GridTracker
GenericName=GridTracker, An Amateur Radio Companion
Exec=/usr/GridTracker/GridTracker
Icon=/usr/GridTracker/gridtracker.png
Path=/usr/GridTracker
Type=Application
Encoding=UTF-8
Terminal=false
Categories=HamRadio Weak Signal
