[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=About HamIQ™
Exec=/usr/bin/about_hamiq
Terminal=false
Comment=About HamIQ™
Icon=hampi
Categories=HamRadio
Keywords=HamRadio
