[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=MSHV
Path=/usr/MSHV
Exec=/usr/MSHV/MSHV_I686
Icon=MSHV
Terminal=false
Comment=MSHV
Categories=HamRadio Weak Signal
Keywords=HamRadio;MSHV
