[Desktop Entry]
Name=noaa-apt
GenericName=Image decoder for APT signals from NOAA satellites
Exec=/home/{{ ham_user }}/hamradio-noaa-apt/target/release/noaa-apt
Icon=noaa-apt
Terminal=false
Type=Application
Categories=HamRadio;;
Keywords=rtlsdr;rtl;sdr;wav;
