[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Radio Explorer
Path=/usr/RadioExplorer
Exec=/usr/RadioExplorer/RadioExplorer.sh
Terminal=false
Comment=Radio Explorer
Categories=HamRadio
Keywords=HamRadio
Icon=/usr/RadioExplorer/icons/RadioExplorer48.png
