[Desktop Entry]
Type=Application
Version=1.0
Name=Lopora
GenericName=QRSS Beacon Reception
Comment=Lopora is a QRSS Beacon Reception program
Exec=/home/{{ ham_user}}/lopora/scriptfiles/quickstartlopora-pi.sh
Path=/home/{{ ham_user}}/lopora
Terminal=false
StartupNotify=true
Categories=HamRadio
Keywords=Hamradio;Radio;Amateur
